

@model List<Brand>


<h1>Lista di brand</h1>



<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>brand.Nome)</td>
            </tr>

        }
    </tbody>
</table>