@model List<Beer>

    <h1>Cervezas</h1>

    <p>
        <a asp-action="Create">Crear algo</a>
    </p>
    <table class="table">

        <thead>

            <tr>
                <th>Nombre</th>
                <th>Marca</th>
                <th></th>
            </tr>

        </thead>

        
        <tbody>
            @foreach (var beer in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(m=>beer.Nome)
                </th>
                <th>
                    @Html.DisplayFor(m=>beer.Brand.Nome)
                </th>
            </tr>
        }
        </tbody>


