@model FirsMVCApp.Models.DogViewModel


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Hola Mundo</h1>
<p>este es un test para usar mvc</p>

<h1>questo esempio usa modelViews di: @Model.Name</h1>
<h2>mi perro se llama @Model.Name y tiene @Model.Age anni</h2>

